body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    /*text-align: justify;*/
}

nav{
    font-size: 1rem;
}

#home{
	height: 100vh;
}

@media (min-width: 580px) {
    #home, #section1, #section2, #section3, #section4, #section5, #section6{
        padding-top: 56px;
        height: 100vh;
    }
}

@media (min-width: 580px) {
    .container-fluid{
        height: calc(100vh - 56px);
    }
}

@media (max-width: 579px) {
    #section6{
        height: 50vh;
    }
}

#section1 h3{
    color: #0495c3;
    font-weight: bold;
}

#section2 h3{
    color: #bfdc0b;
    font-weight: bold;
}

#section4 h3{
    color: #e4075a;
    font-weight: bold;
}

#section4{
    padding-top: 56px;
    /*height: 90vh;*/
}

/*Center bullet on list*/
ul {
    list-style-position: inside;
    padding-left: 0;
}

#headingOne{
    background: rgb(228, 109, 137, 0.4);
}

#headingTwo{
    background: rgb(208, 130, 45, 0.4);
}

#headingThree{
    background: rgb(222, 193, 37, 0.4);
}

#headingFour{
    background: rgb(30, 177, 88, 0.4);
}

#section5 .btn{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#section5 .btn:hover{
    text-decoration: none;
}

.card{
    border: 0;
}